<div *ngFor="let beer of beers | async" class="beer-display-loop">
  <div *ngIf="!beer.empty" class="col-md-5 beer-display-wells">
    <p class="beer-name-title"><span class="beer-name">{{beer.name}}</span>: <span class="beer-display-brewery">{{beer.brewery}} ({{beer.location}})</span><span id="beer-icon" [class]="iconColor(beer)"><i class="fa fa-beer" aria-hidden="true"></i></span></p>
    <p>{{beer.description}}</p>
    <ul>
      <li>ABV: {{beer.alcoholContent}}%</li>
      <li>IBU: {{beer.ibu}}</li>
      <li>Half Pint: ${{beer.halfPintPrice}} | Full Pint: ${{beer.pintPrice}}</li>
    </ul>
  </div>
</div>
