<div class="well col-md-6" *ngFor="let beer of beers | async">
  <p><span class="beer-name">{{beer.name}}</span>: {{beer.description}}</p>
  <ul>
    <li>Brewed by {{beer.brewery}} ({{beer.location}})</li>
    <li>Alcohol Percentage: {{beer.alcoholContent}}%</li>
    <li>IBU: {{beer.ibu}}</li>
    <li>Half Pint: ${{beer.halfPintPrice}} | Full Pint: ${{beer.pintPrice}}</li>
  </ul>
  <li class="pintsLeft">Pints left: {{beer.pintsLeft}}</li>
  <button (click)="beginDeletingBeer(beer)">Delete Beer</button>
  <button (click)="beginHalfSale(beer)">Sell a Half Pint</button>
  <button (click)="beginPintSale(beer)">Sell a Pint</button>
</div>
<br>
<div class="row">

</div>
<h4>Bartender Recommendations:</h4>
<app-bartenders-list [childBartenderList]="masterBartenderList"></app-bartenders-list>
