<div class="bartender-display">
<div class="col-md-5 beer-display-wells" *ngFor="let beer of beers | async">
  <p><span class="beer-name">{{beer.name}}</span>: {{beer.description}}</p>
  <ul>
    <li>Brewed by {{beer.brewery}} ({{beer.location}})</li>
    <li>ABV: {{beer.alcoholContent}}%</li>
    <li>IBU: {{beer.ibu}}</li>
    <li>Half Pint: ${{beer.halfPintPrice}} | Full Pint: ${{beer.pintPrice}}</li>
  </ul>
  <li class="pintsLeft">Pints left: {{beer.pintsLeft}}</li>
  <div *ngIf="!beer.empty">
    <button class="btn btn-success" (click)="beginHalfSale(beer)">Sell Half Pint</button>
    <button class="btn btn-success" (click)="beginPintSale(beer)">Sell Pint</button>
  </div>
  <div *ngIf="beer.empty">
    <button (click)="beginRestock(beer)" class="btn btn-info">Restock</button>
  </div>
</div>
<br>
<div class="row">
</div>
<h4>Bartender Recommendations:</h4>
<app-bartenders-list [childBartenderList]="masterBartenderList"></app-bartenders-list>
</div>
