<div class="col-md-5 beer-display-wells" *ngFor="let beer of beers | async">
  <p><span class="beer-name">{{beer.name}}</span>: {{beer.description}}</p>
  <p>Brewed by {{beer.brewery}} ({{beer.location}})</p>
  <p>Alcohol Percentage: {{beer.alcoholContent}}%</p>
  <p>IBU: {{beer.ibu}}</p>
  <p>Half Pint: ${{beer.halfPintPrice}} | Full Pint: ${{beer.pintPrice}}</p>
  <p class="pintsLeft">Pints left: {{beer.pintsLeft}}</p>
  <button class="btn btn-warning" (click)="editForm.hidden =!editForm.hidden">Edit Beer</button>
  <button class="btn btn-danger" (click)="beginDeletingBeer(beer)">Delete Beer</button>
  <br><br>
  <div #editForm [hidden]=editForm>
    <div class="form-group">
      <label for="beer-name">Name:</label>
      <input [(ngModel)]="beer.name">
    </div>
    <div class="form-group">
      <label for="beer-brewery">Brewery:</label>
      <input [(ngModel)]="beer.brewery">
    </div>
    <div class="form-group">
      <label for="beer-location">Location:</label>
      <input [(ngModel)]="beer.location">
    </div>
    <div class="form-group">
      <label for="beer-ibu">IBU:</label>
      <input [(ngModel)]="beer.ibu">
    </div>
    <div class="form-group">
      <label for="beer-alcContent">Alcohol Content:</label>
      <input [(ngModel)]="beer.alcoholContent">
    </div>
    <div class="form-group">
      <label for="beer-hpprice">Half Pint Price:</label>
      <input [(ngModel)]="beer.halfPintPrice">
    </div>
    <div class="form-group">
      <label for="beer-pprice">Pint Price:</label>
      <input [(ngModel)]="beer.pintPrice">
    </div>
    <div class="form-group">
      <label for="beer-description">Description:</label>
      <input class="form-control" [(ngModel)]="beer.description">
    </div>
    <button class="btn btn-success" (click)="editButtonClicked(beer)">Submit!</button>
  </div>
</div>
