/* You can add global styles to this file, and also import other style files */
li {
  list-style: none;
}

.beer-name {
  font-size: 150%;
  font-weight: bold;
}

.beer-display-wells {
  min-height: 200px;
  background-color: gray;
  border: 3px solid white;
  border-radius: 15px;
  padding: 5px;
}

.header {
  background-color: gray;
}

.pintsLeft {
  float: right;
}
