/* You can add global styles to this file, and also import other style files */
.add-beer {
  margin-left: 80px;
}

.beer-display-brewery {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
}

.beer-display-loop {
  height: 100%;
}

.beer-display-wells {
  background: rgba(240, 236, 235, 0.6);
  border: 2px solid #646168;
  border-radius: 15px;
  padding: 5px;
  margin: 10px;
  margin-left: 80px;
  width: 100%;
}

.beer-name {
  font-size: 150%;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  margin-bottom: 0px;
}

.beer-name-title {
  margin-bottom: 0px;
}

.body-display {
  width: 95%;
}

.danger {
  color: #9B4738;
}

.header {
  background-color: rgba(123, 93, 82, 0.8);
  margin-top: 0;
  padding-top: 1.4%;
  height: 10vh;
  font-family: 'Playfair Display', serif;
  color: white;
  padding-left: 15px;
  font-size: 60px;
}

.links {
  float: right;
  margin-top: 4vh;
}

.links a{
  color: white;
}
.links a:hover {
  color: red;
}

.pintsLeft {
  float: right;
}

.success {
  color: #4A6B56;
}

.warning {
  color: #B69044;
}

#beer-icon {
  font-size: 300%;
  top: 0;
  float: right;
}

#display-div {
  overflow-y: auto;
  font-family: 'Raleway', sans-serif;
}

#logo {
  color: white;
  text-decoration: none;
}

#logo:hover {
  color: white;
  text-decoration: none;
}

#title-description {
  font-size: 35px;
  font-family: 'Raleway', sans-serif;

}

body {
  background: url('whitewood.jpg');
  background-color: red;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0;
  top: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

li {
  list-style: none;
}

p {
  font-size: 16px;
}
